/public/dataset/Olive_leaf/train/olive_peacock_spot/ROI_Histogram
/public/dataset/Olive_leaf/train/olive_peacock_spot/ROI_KMeans
/public/dataset/Olive_leaf/train/aculus_olearius/ROI_Histogram
/public/dataset/Olive_leaf/train/aculus_olearius/ROI_KMeans
